:root {
  --background-color-primary: #cfdace;
  --p-card-completed: #c3ffb2;

  // p-card
  .to-do {
    &.p-card {
      --p-card-background: #cbd0ff;
    }
  }

  .in-progress {
    &.p-card {
      --p-card-background: #e3ffe2;
    }
  }

  .completed {
    &.p-card {
      --p-card-background: var(--p-card-completed);
    }
  }

  .expired {
    &.p-card {
      --p-card-background: #fb979f;
    }
  }

  // p-datepicker
  .p-datepicker-panel {
    --p-datepicker-panel-background: #e3ffe2;
  }

  .p-datepicker-header {
    --p-datepicker-header-background: #e3ffe2;
  }

  .p-datepicker-prev-button,
  .p-datepicker-next-button {
    --p-button-text-secondary-hover-background: #b5ffb3;
    --p-button-text-secondary-color: #000;
  }

  .p-datepicker-day {
    --p-datepicker-date-hover-background: #b5ffb3;
    --p-datepicker-today-background: #83ee80;
  }

  .p-datepicker-select-month {
    --p-datepicker-select-month-hover-background: #b5ffb3;
  }

  .p-datepicker-month {
    --p-datepicker-date-hover-background: #b5ffb3;
  }
}

.dark-theme {
  --background-color-primary: #4b4b4b;
  --p-card-completed: #00461a;

  // p-card
  .to-do {
    &.p-card {
      --p-card-background: #1b2a51;
    }
  }

  .in-progress {
    &.p-card {
      --p-card-background: #25563d;
    }
  }

  .completed {
    &.p-card {
      --p-card-background: #00461a;
    }
  }

  .expired {
    &.p-card {
      --p-card-background: #420f13;
    }
  }

  // p-datepicker
  .p-datepicker-panel {
    --p-datepicker-panel-background: #00412a;
  }

  .p-datepicker-header {
    --p-datepicker-header-background: #00412a;
  }

  .p-datepicker-prev-button,
  .p-datepicker-next-button {
    --p-button-text-secondary-hover-background: #008c5b;
    --p-button-text-secondary-color: #fff;
  }

  .p-datepicker-day {
    --p-datepicker-date-hover-background: #008c5b;
    --p-datepicker-today-background: #00a46b;
  }

  .p-datepicker-select-month {
    --p-datepicker-select-month-hover-background: #008c5b;
  }

  .p-datepicker-month {
    --p-datepicker-date-hover-background: #008c5b;
  }
}

html {
  font-family: Inter, sans-serif;
  background-color: var(--background-color-primary);
}

body {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// p-datepicker
.p-datepicker-select-year {
  pointer-events: none;
  opacity: 0.5;
}

.p-datepicker-select-month {
  font-size: 1rem;
}

.p-datepicker-select-year {
  font-size: 1rem;
}

.p-datepicker-day[aria-selected='true'] {
  background-color: var(--p-datepicker-date-hover-background);
  opacity: 1;
}

// p-select
.p-select {
  --p-select-background: var(--p-button-primary-background);
  --p-select-shadow: var(--p-button-raised-shadow);
  --p-select-border-color: transparent;
  --p-select-focus-ring-shadow: var(--p-button-raised-shadow);
  --p-select-hover-border-color: var(--p-select-border-color);
  --p-select-disabled-background: var(--p-button-primary-background);

  &.p-select-open {
    background-color: var(--p-button-primary-hover-background);
  }

  &.p-disabled.p-disabled {
    opacity: var(--p-disabled-opacity);
  }

  .p-select-label {
    --p-select-color: var(--p-button-primary-color);
    --p-select-placeholder-color: var(--p-button-primary-color);
    --p-select-disabled-color: var(--p-button-primary-color);

    padding-right: 0;
    font-weight: var(--p-button-label-font-weight);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--p-button-primary-hover-background);
    }
  }
}

.p-select-dropdown {
  --p-select-dropdown-color: var(--p-button-primary-color);
}

// p-multiselect
.p-multiselect {
  --p-multiselect-background: var(--p-button-primary-background);
  --p-multiselect-shadow: var(--p-button-raised-shadow);
  --p-multiselect-border-color: transparent;
  --p-multiselect-focus-ring-shadow: var(--p-button-raised-shadow);
  --p-multiselect-hover-border-color: var(--p-multiselect-border-color);
  --p-multiselect-disabled-background: var(--p-button-primary-background);

  &.p-multiselect-open {
    background-color: var(--p-button-primary-hover-background);
  }

  &.p-disabled.p-disabled {
    opacity: var(--p-disabled-opacity);
  }

  .p-multiselect-label {
    --p-multiselect-color: var(--p-button-primary-color);
    --p-multiselect-placeholder-color: var(--p-button-primary-color);
    --p-multiselect-disabled-color: var(--p-button-primary-color);

    padding-right: 0;
    font-weight: var(--p-button-label-font-weight);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--p-button-primary-hover-background);
    }
  }
}

.p-multiselect-dropdown {
  --p-multiselect-dropdown-color: var(--p-button-primary-color);
}

.p-multiselect-header {
  --p-multiselect-list-header-padding: var(--p-multiselect-option-padding);

  .p-checkbox {
    width: 100%;

    &::after {
      margin-left: var(--p-multiselect-option-gap);
      font-weight: var(--p-button-label-font-weight);
      content: 'Выбрать все';
    }
  }
}

.p-multiselect-list {
  --p-multiselect-list-padding: 0;
}

// p-accordion
.p-accordionheader {
  --p-accordion-header-padding: 0 0 20px 0;
}

.p-accordionpanel {
  --p-accordion-panel-border-width: 0;
}

.p-accordioncontent-content {
  --p-accordion-content-padding: 0;
}

.p-divider-horizontal {
  --p-divider-horizontal-margin: 0;
}

// p-inputmask
.p-inputmask {
  --p-inputtext-padding-x: var(--p-form-field-padding-x)
    calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
}

// p-card
.p-card {
  .p-card-body {
    height: 100%;
    padding: 15px;
  }

  .p-card-footer {
    margin-top: auto;
  }
}

// p-popover
.p-popover {
  max-width: 250px;
  max-height: 400px;
  overflow: auto;
}

// p-chip
.p-chip.p-component {
  cursor: pointer;
  background: var(--p-tag-primary-background);
  transition:
    background 0.2s,
    color 0.2s;

  .p-chip-icon {
    transition:
      background 0.2s,
      color 0.2s;
  }
}

// p-progressspinner
.p-progressspinner[role='progressbar'] {
  width: 80px;
  height: 80px;
}

.p-progressspinner-circle {
  stroke: var(--p-button-primary-background) !important;
}

// p-message
.p-message {
  --p-success-message-in-statistics: var(--p-card-completed);
  --p-times-message-in-statistics: var(--p-button-primary-background);
}

// p-button
.p-button.p-component.active:not(:disabled) {
  background: var(--p-button-primary-active-background);
  border: 1px solid var(--p-button-primary-active-border-color);
}
