:root {
  --color-primary: #000;
  --background-color-primary: #cfdace;
  --p-card-completed: #c3ffb2;
  --p-card-to-do: #cbd0ff;
  --p-card-in-progress: #e3ffe2;
  --p-card-expired: #fb979f;
  --p-datepicker-item: #b5ffb3;
  --p-datepicker-today: #83ee80;
}

.dark-theme {
  --color-primary: #fff;
  --background-color-primary: #4b4b4b;
  --p-card-completed: #00461a;
  --p-card-to-do: #1b2a51;
  --p-card-in-progress: #25563d;
  --p-card-expired: #420f13;
  --p-datepicker-item: #008c5b;
  --p-datepicker-today: #00a46b;
}

html {
  font-family: Inter, sans-serif;
  background-color: var(--background-color-primary);
}

body {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// p-card
.p-card {
  &.to-do {
    --p-card-background: var(--p-card-to-do);
  }

  &.in-progress {
    --p-card-background: var(--p-card-in-progress);
  }

  &.completed {
    --p-card-background: var(--p-card-completed);
  }

  &.expired {
    --p-card-background: var(--p-card-expired);
  }
}

.p-card-body {
  height: 100%;
  padding: 15px;
}

.p-card-footer {
  margin-top: auto;
}

// p-datepicker
.p-datepicker-panel {
  --p-datepicker-panel-background: var(--p-card-in-progress);
}

.p-datepicker-header {
  --p-datepicker-header-background: var(--p-card-in-progress);
}

.p-datepicker-prev-button,
.p-datepicker-next-button {
  --p-button-text-secondary-hover-background: var(--p-datepicker-item);
  --p-button-text-secondary-color: var(--color-primary);
}

.p-datepicker-day {
  --p-datepicker-date-hover-background: var(--p-datepicker-item);
  --p-datepicker-today-background: var(--p-datepicker-today);

  &[aria-selected='true'] {
    background-color: var(--p-datepicker-date-hover-background);
    opacity: 1;
  }
}

.p-datepicker-month {
  --p-datepicker-date-hover-background: var(--p-datepicker-item);
}

.p-datepicker-select-month {
  --p-datepicker-select-month-hover-background: var(--p-datepicker-item);

  font-size: 1rem;
}

.p-datepicker-select-year {
  font-size: 1rem;
  pointer-events: none;
  opacity: 0.5;
}

// p-select
.p-select {
  --p-select-background: var(--p-button-primary-background);
  --p-select-shadow: var(--p-button-raised-shadow);
  --p-select-border-color: transparent;
  --p-select-focus-ring-shadow: var(--p-button-raised-shadow);
  --p-select-hover-border-color: var(--p-select-border-color);
  --p-select-disabled-background: var(--p-button-primary-background);

  &.p-select-open {
    background-color: var(--p-button-primary-hover-background);
  }

  &.p-disabled.p-disabled {
    opacity: var(--p-disabled-opacity);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--p-button-primary-hover-background);
    }
  }
}

.p-select-overlay.p-anchored-overlay-leave-active {
  animation: none;
}

.p-select-label {
  --p-select-color: var(--p-button-primary-color);
  --p-select-placeholder-color: var(--p-button-primary-color);
  --p-select-disabled-color: var(--p-button-primary-color);

  padding-right: 0;
  font-weight: var(--p-button-label-font-weight);
}

.p-select-dropdown {
  --p-select-dropdown-color: var(--p-button-primary-color);
}

// p-multiselect
.p-multiselect {
  --p-multiselect-background: var(--p-button-primary-background);
  --p-multiselect-shadow: var(--p-button-raised-shadow);
  --p-multiselect-border-color: transparent;
  --p-multiselect-focus-ring-shadow: var(--p-button-raised-shadow);
  --p-multiselect-hover-border-color: var(--p-multiselect-border-color);
  --p-multiselect-disabled-background: var(--p-button-primary-background);

  &.p-multiselect-open {
    background-color: var(--p-button-primary-hover-background);
  }

  &.p-disabled.p-disabled {
    opacity: var(--p-disabled-opacity);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--p-button-primary-hover-background);
    }
  }
}

.p-multiselect-label {
  --p-multiselect-color: var(--p-button-primary-color);
  --p-multiselect-placeholder-color: var(--p-button-primary-color);
  --p-multiselect-disabled-color: var(--p-button-primary-color);

  padding-right: 0;
  font-weight: var(--p-button-label-font-weight);
}

.p-multiselect-dropdown {
  --p-multiselect-dropdown-color: var(--p-button-primary-color);
}

.p-multiselect-header {
  --p-multiselect-list-header-padding: var(--p-multiselect-option-padding);

  .p-checkbox {
    width: 100%;

    &::after {
      margin-left: var(--p-multiselect-option-gap);
      font-weight: var(--p-button-label-font-weight);
      content: 'Выбрать все';
    }
  }
}

.p-multiselect-list {
  --p-multiselect-list-padding: 0;
}

.p-multiselect-overlay.p-anchored-overlay-leave-active {
  animation: none;
}

// p-accordion
.p-accordionheader {
  --p-accordion-header-padding: 0 0 20px 0;
}

.p-accordionpanel {
  --p-accordion-panel-border-width: 0;
}

.p-accordioncontent-content {
  --p-accordion-content-padding: 0;
}

.p-divider-horizontal {
  --p-divider-horizontal-margin: 0;
}

// p-inputmask
.p-inputmask {
  --p-inputtext-padding-x: var(--p-form-field-padding-x)
    calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
}

// p-popover
.p-popover {
  max-width: 250px;
  max-height: 400px;
  overflow: auto;
}

// p-chip
.p-chip.p-component {
  cursor: pointer;
  background: var(--p-tag-primary-background);
  transition:
    background 0.2s,
    color 0.2s;

  .p-chip-icon {
    transition:
      background 0.2s,
      color 0.2s;
  }
}

// p-progressspinner
.p-progressspinner[role='progressbar'] {
  width: 80px;
  height: 80px;
}

.p-progressspinner-circle {
  stroke: var(--p-button-primary-background) !important;
}

// p-button
.p-button.p-component.active:not(:disabled) {
  background: var(--p-button-primary-active-background);
  border: 1px solid var(--p-button-primary-active-border-color);
}

// p-dialog
.p-dialog-content {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}
