:root {
  --background-color-primary: #cfdace;

  .p-card {
    &.to-do {
      --p-card-background: #f5fff4;
    }

    &.in-progress {
      --p-card-background: #e9ffe8;
    }

    &.completed {
      --p-card-background: #c3ffb2;
    }

    &.expired {
      --p-card-background: #fb979f;
    }
  }
}

.dark-theme {
  --background-color-primary: #4b4b4b;

  .p-card {
    &.to-do {
      --p-card-background: #35383f;
    }

    &.in-progress {
      --p-card-background: #212429;
    }

    &.completed {
      --p-card-background: #14450d;
    }

    &.expired {
      --p-card-background: #570007;
    }
  }
}

html {
  font-family: Inter, sans-serif;
  background-color: var(--background-color-primary);
}

body {
  overflow-wrap: break-word;
}
